<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Add new camera</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<h1>Add new camera</h1>
		<div>
		<form th:object="${camera}" th:action="savecameraforphoto" action="#"
			method="post">
			<label for="name">Name</label> <input type="text" id="name"
				th:field="*{name}" /><br /> <label for="filmFormat">Film
				format</label> <input type="text" id="filmFormat" th:field="*{filmFormat}" /><br />
			<input type="submit" value="Save"></input>
		</form>
	</div>
	</div>
</body>
</html>