<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>List of films</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Films</h1>
	<table class="table table-striped">
		<tr>
			
			<th>Name</th>
			<th>Iso speed</th>
			<th>Type</th>
			<th>Size</th>
		</tr>
		<tr th:each="film : ${films}">
			
			<td th:text="${film.name}"></td>
			<td th:text="${film.isoSpeed}"></td>
			<td th:text="${film.type}"></td>
			<td th:text="${film.size}"></td>
			<td><a th:href="@{/deletefilm/{id}(id=${film.filmId})}"
				class="btn btn-danger">Delete</a></td>
		</tr>


	</table>
	<a href="/addfilm" class="btn btn-success">Add new film</a>
	<a href="/allphotos" class="btn btn-success">Back to photolist</a>
</body>
</html>