<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Welcome to FilmPic</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Film picture site in the works..</h1>
	<h2>Stay tuned...</h2>
	<a href="/allphotos" class="btn btn-primary">Photographs</a>
	<a href="/allfilms" class="btn btn-primary">Films</a>
	<a href="/allcameras" class="btn btn-primary">Cameras</a>
</body>
</html>
